:root {
    --main-color: #18cfab;
}

.hero-section {
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.85;
}

.container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
}

.logo-block {
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    background: var(--main-color);
    position: relative;
    font-size: 40px;
    font-weight: 700;
}

.main-logo::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 15px solid var(--main-color);
}

.main-logo::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid var(--main-color);
}

.logo-cover {
    display: flex;
    color: #FFFFFF;
}


.logo-sign {
    margin-left: 6px;
    font-size: 32px;
    color: #fff;
}

.navbar-list {
    display: flex;
    align-items: center;
}


.navbar-ul {
    display: flex;
    align-items: center;
}

.navbar-list-items {
    margin: 0 21px;
    padding: 47px 0;
    border-bottom: 2px solid transparent;
}


.navbar-list-link {
    color: #C1C1C0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.navbar-list-items:hover {
    border-bottom: 2px solid var(--main-color);
    /*box-shadow: 0 2px 0 0 #18CFAB;*/
}

.navbar-list-items:hover .navbar-list-link {
    color: var(--main-color);
}


.svg_hover:hover {
    fill: #18CFAB;
}

.search-icon {
    margin-left: 21px;
}

.hero-text-container {
    padding: 265px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan-container {
    text-align: center;
}

.top-slogan {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #fff;
}

.middle-slogan {
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #fff;
    margin: 20px 0;
}

.bottom-slogan {
    color: #D4D4D4;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
}

.button-container {
    display: flex;
    width: 360px;
    justify-content: space-between;
    margin-top: 130px;
}

.button-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 170px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 0 -4px 0 0 #fff;
}


.explore-btn {
    background-color: var(--main-color);
}

.purchase-btn {
    background-color: #00CBF6;
}


.squares-section {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 375px;
}

.big-squares-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.block-bg-darkblue {
    background-color: #1C2A33;
    color: var(--main-color);
}

.block-bg-lightgreen {
    background-color: var(--main-color);
    color: #FFFFFF;
}


.different-block-bg {
    height: 97px;
    width: 58px;
    background-image: url("../img/different_pointer.png");
    margin-bottom: 47px;
}

.fully-block-bg {
    background-image: url("../img/diamond.png");
    width: 93px;
    height: 75px;
    margin-bottom: 65px;
}

.unlimited-block-bg {
    background-image: url("../img/light_bulb.png");
    width: 60px;
    height: 96px;
    margin-bottom: 47px;
}

.responsive-block-bg {
    background-image: url("../img/devices.png");
    width: 99px;
    height: 76px;
    margin-bottom: 65px;
}


.headers {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

.headers::after {
    position: absolute;
    content: " ";
    display: inline-block;
    height: 3px;
    width: 75px;
    top: 70px;
    left: calc(50% - 33px);
    transform: skewX(75deg);
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.our-services {
    display: flex;
    width: 1160px;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto 100px;
}

.title-tabs {
    display: grid;
    width: 1160px;
    height: 72px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 25px;
}

.title-tabs-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-weight: normal;
    font-size: 16px;
    color: #717171;
    position: relative;
    cursor: pointer;
}

.tabs-active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.tabs-active::before {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #18CFAB;
    transform: rotate(45deg);
    top: calc(100% - 10px);
}


.title-tabs-items:hover {
    border: 1px solid #18CFAB;
}

.tab-items {
    display: none;
}

.tab-items-active {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.title-tabs-active {
    background-color: var(--main-color);
    color: #FFFFFF;
}

.our-services img {
    margin-right: 15px;
}

.middle-section-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/Sections background/middle-parallax.png");
    padding: 126px 0;
    background-size: cover;
}

.middle-text-container {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.middle-text-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 12px;
}

.middle-text-p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 67px;
}

.amazing-tabs-container {
    margin-bottom: 71px;
}

.amazing-work-section {
    display: flex;
    background-color: #E9EDEF;
    flex-direction: column;
    align-items: center;
}

.amazing-work-section h2 {
    margin-top: 95px;
}

.amazing-tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 590px;
    max-width: 1160px;
    height: 60px;
    cursor: pointer;
}

.amazing-title-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
}

.amazing-tabs-active {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.img-wrapper {
    display: flex;
    width: 1140px;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 70px;
}

.img-container {
    height: 206px;
    position: relative;
}

.img-container-info {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 2px);
    top: 0;
    text-align: center;
    background-color: #E9EDEF;
    border-top: 2px solid var(--main-color);
}

.img-container-hidden,
.img-container-additional {
    display: none;
}

#load-btn-hidden {
    display: none;
}

.img-container:hover .img-container-info {
    display: block;
}

.svg-wrapper {
    display: inline-block;
    width: 41px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    position: relative;
    margin-right: 3px;
}

.svg-chain {
    position: absolute;
    top: 11px;
    left: 13px;
}

.svg-wrapper:hover {
    background-color: var(--main-color);
}

.svg-wrapper:hover .svg-chain {
    fill: #FFFFFF;
}

.parent-svg:hover {
    background-color: var(--main-color);
}

.parent-svg:hover .child-svg {
    background-color: #FFFFFF;
}

.parent-svg {
    display: inline-block;
    width: 42px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    position: relative;
}

.child-svg {
    display: inline-block;
    width: 12px;
    height: 11px;
    background-color: #18cfab;
    position: absolute;
    top: 15px;
    left: 15px;
}

.link-block {
    display: flex;
    justify-content: center;
    padding: 40px 0 23px;
}

.info-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--main-color);
}

.info-cat {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A
}

.load-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 60px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 4px;
}

.load-more-btn::before {
    content: '+';
    font-size: 25px;
    margin-right: 15px;
}

.breaking-news-sec {
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breaking-news-container {
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 35px;
}


.breaking-news-items {
    position: relative;
}

.items-text {
    color: #717171;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
}

.items-text-container {
    margin-left: 15px;
}

.items-text-pseudo,
.items-text-span {
    color: #777777;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
}

.items-text-pseudo::after {
    content: "|";
    margin: 0 17px;
}

.items-text-date {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
}

.breaking-news-items:hover .items-text-date {
    background-color: var(--main-color);
}

.breaking-news-items:hover .items-text {
    color: var(--main-color);
}

.breaking-news-items:hover {
    background-color: #F8FCFE;
}

.swiper-section {
    background-image: url("../img/Sections background/section-3.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 116px;
    position: relative;
    padding-bottom: 100px
}

.swiper-section .headers {
    color: #FFFFFF;
    margin-top: 100px;
}


.swiper-wrap {
    width: 1160px;
}


.swiper-block {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    min-width: 0;
    cursor: pointer;
}


.swiper-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin: 36px 0 37px;
}

.swiper-names {
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}

.swiper-job {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 30px;
    color: #BBBBBB;
}

.swiper-name-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
    min-width: 0;
}

.swiper-img-container {
    border-radius: 50%;
    box-shadow: 0 0 0 10px #114C4B;
    margin-bottom: 10px;
}

.swiper-slide-active .swiper-img-container {
    animation: pulse 1.5s ease-in-out;
}

.swiper-slide-img {
    border-radius: 50%;
    box-shadow: 0 0 0 5px #114C4B;
    margin: 5px 5px;
}

.carousel-img-big {
    width: 140px;
    height: 140px;
}

.gallery-top {
    margin-bottom: 60px;
}

#width-thumb-container {
    width: 380px;
    padding-top: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

#btn-next-location,
#btn-prev-location {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
}


#btn-next-location:hover,
#btn-prev-location:hover {
    background-color: var(--main-color);
    border: 1px solid transparent;
}

#btn-next-location:hover .svg-carousel-nav,
#btn-prev-location:hover .svg-carousel-nav {
    fill: #FFFFFF;
}

.btns-container {
    display: flex;
    width: 500px;
    justify-content: space-between;
    position: absolute;
    top: calc(100% - 130px);
    min-width: 0;
}




.swiper-button-prev,
.swiper-button-next {
    outline: none;
}


.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 80%;
    width: 100%;
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    animation: jump 700ms forwards;
}


.page-footer {
    background-color: #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding: 48px 0;
}

.copyright-blue {
    color: var(--main-color);
}




@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #114C4B;
    }
    50% {
        box-shadow: 0 0 0 15px #114C4B;
    }
    100% {
        box-shadow: 0 0 0 10px #114C4B;
    }
}
